@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;700&display=swap');

.image-section {
  font-family: 'Lora', serif;
  position: relative;
}

.text-area {
  background-color: #baa190;
  padding: 2rem;
  text-align: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
  line-height: 1.5;
}

.gallery-box {
  position: relative;
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-display {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.gallery-img {
  flex: 1;
  width: 33.33%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px; // Add space between images
}

.gallery-img:last-child {
  margin-right: 0; // Remove margin on the last image
}

.gallery-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
  font-size: 1.5rem;
}

.gallery-btn.prev {
  left: 10px;
}

.gallery-btn.next {
  right: 10px;
}

@media (max-width: 768px) {
  .gallery-display {
    display: flex;
    overflow: hidden;
  }

  .gallery-img {
    flex: 0 0 100%;
    width: 100%;
    margin: 0;
  }

  .gallery-btn {
    display: block;
  }
}
